* {
  box-sizing: border-box;
}




button {
  margin: 50px auto;
  display: block;
}

#gallery {
  max-width: 1048px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 40px;
}

img {
  max-width: 300px;
  width: 100%;
  
}

.hidden {
  display: none;
}

.error {
  text-align: center;
  color: rgb(60, 4, 4, 70);
}